<a href="https://colab.research.google.com/github/JBBALMORES/PLNG2112-2-OLFU-QC/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding in Python

Python Comments

In [ ]:
# This is a comment
print("Hello, I'm John Brian Balmores from BSCS 2 - YA - 2!")

Hello, I'm John Brian Balmores

Python Variable

In [ ]:
#Single Variable
a = 12
b = 3

#Multiple Variables
a,b = 12, 3

print(a)
print(b)

12
3

Casting

In [4]:
a="Brian"
a= int (5)
print(a)

a = float(100)
print(a)

5
100.0

Type() function

In [12]:
x = 15
y = "Brian"
z = 100.00
a = -155.0013414
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

"Double Quotes" or 'Single' quotes

In [15]:
x = "Potato"
y = 'Chips'
print(x)
print(y)

Potato
Chips

Case Sensitive

In [16]:
age = 15
Age = 30
print(age)
print(Age)

15
30

Multiple Variables

In [18]:
name, age, gender = "John Brian T. Balmores", "19", "Male"
print(name)
print(age)
print(gender)

John Brian T. Balmores
19
Male

One Value to Multiple Variables

In [20]:
a = b = c = "Fries"
print(a)
print(b)
print(c)

Fries
Fries
Fries

Output Variables

In [21]:
d = "Our Lady "
e = "of Fatima "
f = "University"
g = d + e + f
print(g)

Our Lady of Fatima University

Arithmetic Operations

In [22]:
num1 = 10
num2 = 33
num3 = 57
print(num1 + num2 + num3)

100

Assignment Operators